body {
    margin: 30px 100px 30px 100px;
}
.topside {
    margin: 5px 110px 5px 110px;
}
h1 {
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:4rem ;
        color: rgb(167, 39, 60);    
        text-align: center;
        margin-bottom: 0px;
        /* modify header text */
        border: 2px solid black;
        /* make a box for header */
}

h2 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center; 
    margin-top: 4px;
}
a:link {
    color: brown;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color:blue;
    background-color: transparent;
    text-decoration: underline;
}
/* make the link change color when hover */
h3{
    font-family: "Outfit", "san-serif";
    font-weight: 650;
    color: rgb(167, 39, 60);
}
p {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
}
li {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
}