/* Background image for gallery page */
body.gallery-page {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  background-image: url('images/backgroundgallery.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* navigation bar styling */
nav {
  text-align: center;
}

nav ul {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  display: flex;
  background-color: #120e0d;
  padding: 0px 20px 0px 0px;
  margin: 0px;
  font-size: 18px !important;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 25px;
  display: block;
  text-align: center;
}

nav a:hover {
  background-color: #211A17;
}

.nav-links {
  display: flex;
}

.logo a {
  font-weight: bold;
  font-size: 18px;
  font-family: "Tektur", sans-serif;
  color: white;
}
/* title */
.gallery-title {
  font-family: "Tektur", sans-serif;
  text-align: center;
  font-size: 2.2rem;
  color:  #211A17;
  margin-top: 26px;
  margin-bottom: 5px;
}
/* === Layout of the gallery cards === */
.gallery-container {
  display: flex;
  flex-wrap: wrap;/* Allow cards to wrap to new line */
  justify-content: center;/* Center the cards */
  gap: 5px;
  padding: 10px;
}

.flip-card {
  width: 233px;
  height: 382px;
  /* I have to make 2 versions of the card because i just know that I cannot scale images without getting cut */
  perspective: 1000px; /* Adds 3D effect */
  cursor: pointer;/* Indicates interactivity */
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;/* Enables 3D flipping */
}
/* Flip the card when .flipped class is added */
.flip-card.flipped .flip-inner {
  transform: rotateY(180deg);
}
/* Front and back of the card share same size/position */
.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;/* Hide back when facing front */
  border-radius: 12px;
  overflow: hidden;
}
/* Image on the front side */
.flip-front img {
  width: 100%;
  height: 100%;
  object-fit: contain;/* Scale image to fit without cutting */
}
/* Back side styling with text info */
.flip-back {
  background-color: #675130;
  color: #D1BFA6;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.instruction{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 1px;
  font-size:smaller;
  font-style: italic;
  font-weight:400;
}

